html {
  height: 100%;
  width: 100%;
  padding: 0;
}
body {

  background: #c5deea; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c5deea 0%, #8abbd7 0%, #066dab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c5deea 0%,#8abbd7 0%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c5deea 0%,#8abbd7 0%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;

  width: 100%;
  padding: 0;
}
.vlass-menu {
  float: left;
}


.user-menu {
  float: right;
  padding-right: 5mm;
}