<template name="createClassroom">
  <div>
    <form class="newVlassroom">
      <div>
        <span>Enter your class name:</span>
        <input type="text" name="VlassroomName" placeholder="name" />
      </div>
      <div>
        <span>Enter the class size: </span>
        <input type="number" name="VlassroomSize" placeholder="size" />
      </div>
      <div>
        <span>Enter the starting time: </span>
        <input type="datetime-local" name="VlassroomTime" placeholder="What time will it start?"/>
      </div>
      <div>
        <span>Enter the class duration: </span>
        <input type="number" name="VlassroomDuration" placeholder="enter the duration" />
      </div>
      <div>
        <span>Enter the description (optional)</span>
        <input type="text" name="VlassroomDescription" placeholder="brief description"/>
      </div>
      
      <input type="submit" name="submitVlassroom" />
    </form>
  </div>
</template>