.title {
    margin: auto;
    width: 50%;
    font-size: 120px;
    Text-align: center;
    padding-top: 5%;
}

.subtitle {
    Text-align: center;
    font-size: 60px;
    padding-top:2%;
}
.login-buttons {
    margin: auto;
    width: 30%;
    padding-top: 2%;
}
.login {
    float: left;
}
.register {
    float: right;
}