<template name="chatroom">

    <div>
        <ul id="vlassMessages" class="vlassMessages">
            {{# each messages}}
                {{> message}}
            {{/each}}

        </ul>
    </div>
    <div>

            <input type="text" id="userMessage" /><input type="button" value="Enter" class="submitMessage"/>

    </div>
</template>

<template name="message">
    <li class="vlassMessage"><span class="chat-user">{{username}}: </span><span class="chat-message">{{text}}</span></li>
</template>